@using MyWebApp.Models


@{
    ViewBag.Title = "ASP.NET Identity";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Учетные записи
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Роль</th>
            <th></th>
        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.RoleId</td>

                <td>
                    @using (Html.BeginForm("Delete", "Account", new { id = user.Id }))
                    {
                        @Html.ActionLink("Изменить", "Edit", new { id = user.Id },
                            new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 10px" })
                        <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>
<p><a href="/Account/register">Создать нового пользователя</a></p>
